@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some browser-specific styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Set global settings */
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}

/* Main container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Standard hyperlink styles */
a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Standard button styling */
button {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Responsive image */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

pre,
code {
    background-color: transparent !important;
    font-size: 18px !important;
    padding: 0px !important;
    margin: 0px !important;
}

@media only screen and (max-width: 768px) {
    pre,
    code {
        font-size: 15px !important;
    }
}

/* Hide visually but keep for screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-right {
  animation: slideRight 1s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left {
  animation: slideLeft 1s forwards;
}

@keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-up {
    animation: slideUp 1s forwards;
  }